/* Extra small devices (phones, 600px and down) */

    .semester-answer-paragraph {
        /* text-align: justify; */
    }
@media only screen and (max-width: 600px) {
    .semester-content-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
        .semester-title {
        font-weight: 600;
        font-size: 20px;
        padding-left: 0;
        text-align: center;
    }

    .semester-content-part1 {
        padding: 20px 0px;
        position: relative;
    }

    .semester-content-part2 {
        padding: 20px 0;
        /* overflow-y: auto; */
        /* max-height: 100vh; */
    }

    .secondary-arrow-styles {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #f3e8ea;
        align-items: center;
        justify-content: center;
        padding: 5px;
        gap: 10px;
        cursor: pointer;
    }

    .semester-content-portion {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
        /* space between FAQ items */
        border-top: none;
        font-family: "Montserrat", sans-serif;
    }

    .semester-content-question {
        font-weight: 600;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        /* pushes icon to the end */
        align-items: center;
        cursor: pointer;
    }

    .semester-content-answer {
        padding: 10px 0 20px;
        font-size: 20px;
        font-weight: 400;
    }

    .button {
        display: flex;
        align-items: center;
        padding-top: 2rem;
    }

    .button-text {
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }

    .secondary-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px 16px;
        border: none;
        cursor: pointer;
        border-radius: 30px;
    }

    .sem-acc {
        display: grid;
        gap: 25px;
    }

    .sub-answer-paragraph {
        padding: 15px 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .semester-content-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .semester-content-part1 {
        padding: 20px;
        position: relative;
    }

    .semester-content-part2 {
        padding: 20px;
        /* overflow-y: auto; */
        /* max-height: 100vh; */
    }

    .secondary-arrow-styles {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #f3e8ea;
        align-items: center;
        justify-content: center;
        padding: 5px;
        gap: 10px;
        cursor: pointer;
    }

    .semester-content-portion {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
        /* space between FAQ items */
        border-top: none;
        font-family: "Montserrat", sans-serif;
    }

    .semester-content-question {
        font-weight: 600;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        /* pushes icon to the end */
        align-items: center;
        cursor: pointer;
    }

    .semester-content-answer {
        padding: 10px 0 20px;
        font-size: 20px;
        font-weight: 400;
    }

    .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
    }

    .button-text {
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }

    .secondary-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px 16px;
        border: none;
        cursor: pointer;
        border-radius: 30px;
    }

    .sem-acc {
        display: grid;
        gap: 25px;
    }

    .sub-answer-paragraph {
        padding: 12px 0px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .semester-content-container {
        background-color: #fff;
        display: grid;
        padding: 40px 70px;
        /* padding: 20px 40px; */
        grid-template-columns: 1fr 1.5fr;
        gap: 20px;
        overflow: hidden;
    }

    .semester-content-part1 {
        padding: 20px;
        position: relative;
    }

    .semester-content-part2 {
        padding: 20px;
        /* overflow-y: auto; */
        /* max-height: 100vh; */
    }

    .button {
        display: flex;
        align-items: center;
        padding-top: 2rem;
        background-color: red;
    }

    .button-text {
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }

    .secondary-arrow-styles {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #f3e8ea;
        align-items: center;
        justify-content: center;
        padding: 5px;
        gap: 10px;
        cursor: pointer;
    }

    .semester-content-portion {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
        /* space between FAQ items */
        border-top: none;
        font-family: "Montserrat", sans-serif;
    }

    .semester-content-question {
        font-weight: 600;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        /* pushes icon to the end */
        align-items: center;
        cursor: pointer;
    }

    .semester-content-answer {
        padding: 10px 0 20px;
        font-size: 20px;
        font-weight: 400;
    }

    .secondary-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px 16px;
        border: none;
        cursor: pointer;
        border-radius: 30px;
    }

    .sem-acc {
        display: grid;
        gap: 25px;
    }

    .sub-answer-paragraph {
        padding: 12px 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .semester-content-container {
        background-color: #fff;
        display: grid;
        padding: 40px 70px;
        /* padding: 20px 40px; */
        grid-template-columns: 1fr 1.5fr;
        gap: 20px;
        overflow: hidden;
    }

    .semester-content-part1 {
        padding: 20px;
        position: relative;
    }

    .semester-content-part2 {
        padding: 20px;
        /* overflow-y: auto; */
        /* max-height: 100vh; */
    }

    .button {
        display: flex;
        align-items: center;
        padding-top: 2rem;
    }

    .button-text {
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }

    .secondary-arrow-styles {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #f3e8ea;
        align-items: center;
        justify-content: center;
        padding: 5px;
        gap: 10px;
        cursor: pointer;
    }

    .semester-content-portion {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
        /* space between FAQ items */
        border-top: none;
        font-family: "Montserrat", sans-serif;
    }

    .semester-content-question {
        font-weight: 600;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        /* pushes icon to the end */
        align-items: center;
        cursor: pointer;
    }

    .semester-content-answer {
        padding: 10px 0 20px;
        font-size: 20px;
        font-weight: 400;
    }

    .secondary-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px 16px;
        border: none;
        cursor: pointer;
        border-radius: 30px;
    }

    .sem-acc {
        display: grid;
        gap: 25px;
    }

    .sub-answer-paragraph {
        padding: 12px 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .semester-content-container {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 40px 70px;
        /* padding: 20px 40px; */
        grid-template-columns: 1fr 1.5fr;

        gap: 20px;
        overflow: hidden;
    }

    .semester-content-part1 {
        padding: 20px;
        position: relative;
    }

    .semester-content-part2 {
        padding: 20px;
        /* overflow-y: auto; */
        /* max-height: 100vh; */
    }

    .semester-title {
        list-style: none;
        padding: 15px 0px 0px 0px;
        margin: 0;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        background-color: #f3e8ea !important;

    }

    /* .semester-list li {
        padding: 15px 0;
        font-size: 1rem;
        font-size: 24px;
        color: #575757;
    } */

    .secondary-arrow-styles {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #f3e8ea;
        align-items: center;
        justify-content: center;
        padding: 5px;
        gap: 10px;
        cursor: pointer;
    }

    .semester-content-portion {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
        /* space between FAQ items */
        border-top: none;
        font-family: "Montserrat", sans-serif;
    }

    .semester-content-question {
        font-weight: 600;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        /* pushes icon to the end */
        align-items: center;
        cursor: pointer;
    }

    .semester-content-answer {
        padding: 10px 0 20px;
        font-size: 20px;
        font-weight: 400;
    }

    .secondary-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px 16px;
        border: none;
        cursor: pointer;
        border-radius: 30px;
    }

    .sem-acc {
        display: flex;
        justify-content: space-between;

    }

    .sub-answer-paragraph {
        width: 50%;
        padding: 12px 0px;
        display: grid;
        gap: 10px;

    }

    .semester-answer-paragraph {
        width: 50%;
        padding: 12px 0px;
    }
}

.semester-content-answer-wrapper {
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  max-height: 0;
  opacity: 0;
}

.semester-content-answer-wrapper.open {
  max-height: 400vh; /* Adjust as needed */
  opacity: 1;
}

.icon-wrapper {
  display: inline-flex;
  transition: transform 0.3s ease;
}

.icon-wrapper.rotate {
  transform: rotate(180deg);
}
