@media screen and (max-width :600px) {
  .hero-slide {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .hero-silde-content-session {
    display: grid;
    width: 90%;
    padding: 15px;
    margin-left: 5%;
    gap: 10px;
  }

  .primary-button {
    /* width: 42% !important; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 20px;
    gap: 18px;
  }

  .arrow-icon-img {
    border-radius: 50%;
    background-color: #841d2e;
    padding: 1px;
  }

  .sub-heading-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 18px;
    margin-top: 30px;
  }

  .secondary-paragraph-pec {
    font-size: 15px;
    font-weight: 400;
    line-height: var(--secondary-paragraph-line-height);
    /* color: var(--secondary-colour); */
    color: #F3E8EA;
    font-family: var(--primary-font-family);

  }

  /* .subtitle-white{
     padding: 10px 10px !important;
  } */

  .dynamic-img-main {
    display: flex;
  }

  .dynamic-img {
    margin-right: -13px;
  }

  .secondary-paragraph.white {
    color: #ffffff;
  }
  .desktop-br {
  display: none;
}
}


@media screen and (min-width : 600px) {
  .hero-slide {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .hero-silde-content-session {
    display: grid;
    width: 60%;
    padding: 10px;
    margin-left: 5%;
    gap: 10px;
  }

  .primary-button {
    /* width: 42% !important; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 20px;
    gap: 18px;
  }
  .subtitle-white{
    padding: 10px 0px !important;
  }

  .arrow-icon-img {
    border-radius: 50%;
    background-color: #841d2e;
    padding: 1px;
  }

  .sub-heading-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 18px;
    margin-top: 30px;
  }

  .secondary-paragraph-pec {
    font-size: 15px;
    font-weight: 400;
    line-height: var(--secondary-paragraph-line-height);
    color: #F3E8EA;
    font-family: var(--primary-font-family);

  }

  .subtitle-white {
    padding: 10px 10px !important;
  }

  .dynamic-img-main {
    display: flex;
  }

  .dynamic-img {
    margin-right: -13px;
  }

  .secondary-paragraph.white {
    color: #ffffff;
  }


}

@media screen and (min-width:768px) {
   .hero-slide {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .hero-silde-content-session {
    display: grid;
    width: 80%;
    padding: 10px;
    margin-left: 5%;
    gap: 25px;
  }

  .primary-button {
    /* width: 42% !important; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 20px;
    gap: 18px;
  }
  .subtitle-white{
    padding: 10px 0px !important;
  }

  .arrow-icon-img {
    border-radius: 50%;
    background-color: #841d2e;
    padding: 1px;
  }

  .sub-heading-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 18px;
    margin-top: 30px;
  }

  .secondary-paragraph-pec {
    font-size: 15px;
    font-weight: 400;
    line-height: var(--secondary-paragraph-line-height);
    color: #F3E8EA;
    font-family: var(--primary-font-family);

  }

  .subtitle-white {
    padding: 10px 10px !important;
  }

  .dynamic-img-main {
    display: flex;
  }

  .dynamic-img {
    margin-right: -13px;
  }

  .secondary-paragraph.white {
    color: #ffffff;
  }


  
}

@media screen and (min-width : 992px) {
   .hero-slide {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .hero-silde-content-session {
    display: grid;
    width: 60%;
    padding: 10px;
    margin-left: 5%;
    gap: 25px;
  }

  .primary-button {
    /* width: 42% !important; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 20px;
    gap: 18px;
  }
  .subtitle-white{
    padding: 10px 0px !important;
  }

  .arrow-icon-img {
    border-radius: 50%;
    background-color: #841d2e;
    padding: 1px;
  }

  .sub-heading-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 18px;
    margin-top: 30px;
  }

  .secondary-paragraph-pec {
    font-size: 15px;
    font-weight: 400;
    line-height: var(--secondary-paragraph-line-height);
    color: #F3E8EA;
    font-family: var(--primary-font-family);

  }

  .subtitle-white {
    padding: 10px 10px !important;
  }

  .dynamic-img-main {
    display: flex;
  }

  .dynamic-img {
    margin-right: -13px;
  }

  .secondary-paragraph.white {
    color: #ffffff;
  }
.desktop-br {
    display: inline;
  }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* .hero-slide {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .hero-silde-content-session {
    /* display: grid; */
    /* width: 45% !important;
    padding: 15px;
    margin-left: 5%;
    gap: 20px;
  }

  .primary-button { */
    /* width: 42% !important; */
    /* display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 20px;
    gap: 18px;
  }

  .arrow-icon-img {
    border-radius: 50%;
    background-color: #841d2e;
    padding: 1px;
  }

  .sub-heading-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 18px;
    margin-top: 30px;
  }

  .secondary-paragraph-pec {
    font-size: 15px;
    font-weight: 400;
    line-height: var(--secondary-paragraph-line-height);
    color: #F3E8EA;
    font-family: var(--primary-font-family);


  }

  .dynamic-img-main {
    display: flex;
  }

  .dynamic-img {
    margin-right: -13px;
  }

  .secondary-paragraph.white {
    color: #ffffff;
  }  */

     .hero-slide {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .hero-silde-content-session {
    display: grid;
    width: 50% !important;
    padding: 10px;
    margin-left: 5%;
    gap: 16px !important;
  }

  .primary-button {
    width: 39% ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 8px;
    gap: 2px;
    /* margin-top: 12px; */
  }
  .subtitle-white{
    padding: 10px 0px !important;
  }

  .arrow-icon-img {
    border-radius: 50%;
    background-color: #841d2e;
    padding: 6px;
    /* width: 20px; */
  }

  .sub-heading-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start !important;
    gap: 28px !important;
    margin-top: 20px;
  }

  .secondary-paragraph-pec {
    font-size: 15px;
    font-weight: 400;
    line-height: var(--secondary-paragraph-line-height);
    color: #F3E8EA;
    font-family: var(--primary-font-family);

  }

  .subtitle-white {
    padding: 10px 10px !important;
  }

  .dynamic-img-main {
    display: flex;
    width: auto;
  }

  .dynamic-img {
    margin-right: -13px;
  }

  .secondary-paragraph.white {
    color: #ffffff;
  }
}

    .slick-slide {
      padding-left: 0;
      padding-right: 0;
    }