* {
  font-family: "Montserrat", sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .red-head {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .red-head {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .red-container {
    background-color: #841d2e;
  }
  .red-head {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px;
    margin: 0 auto; */
    flex-wrap: wrap;
  }
  .welcome {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    justify-content: start;
    text-align: center;
    /* width: 40%; */
    color: #c6979f;
  }
  .white-text {
    color: #ffffff;
    padding-left: 6px;
    font-family: "Montserrat", sans-serif;
  }
  .details {
    /* padding-left: 3rem; */
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* width: 60%; */
    color: #f3e8ea;
    justify-content: end;
  }
  .details img {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .red-container {
    background-color: #841d2e;
  }
  .red-head {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px;
    margin: 0 auto; */
    flex-wrap: wrap;
  }
  .welcome {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    justify-content: start;
    text-align: center;
    width: 30%;
    color: #c6979f;
  }
  .white-text {
    color: #ffffff;
    padding-left: 6px;
  }
  .details {
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* width: 50%; */
    color: #f3e8ea;
    justify-content: end;
  }
  .details img {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }
}
@media only screen and (min-width: 1200px) {
  .red-container {
    background-color: #841d2e;
  }
  .red-head {
    padding: 12px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px;
    margin: 0 auto; */
    flex-wrap: wrap;
  }
  .welcome {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    justify-content: start;
    text-align: center;
    /* width: 20%; */
    color: #c6979f;
  }
  .white-text {
    color: #ffffff;
    padding-left: 6px;
  }
  .details {
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* width: 40%; */
    color: #f3e8ea;
    justify-content: end;
  }
  .details img {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }
}
