@media screen and (max-width : 600px) {

    .terms-container {
        padding: 20px;
        margin-top: 5vh;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #222;
        line-height: 1.6;
    }

    .terms-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .section-title {
        font-weight: bold;
        font-size: 18px;
        margin-top: 20px;
    }

    .policy-list {
        list-style: disc;
        padding-left: 1.5rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .divider {
        border: none;
        border-top: 1px solid #ccc;
        margin: 10px 0;
    }

}


@media screen and (min-width : 600px) {

    .terms-container {
        padding: 20px;
        margin-top: 5vh;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #222;
        line-height: 1.6;
    }

    .terms-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .section-title {
        font-weight: bold;
        font-size: 18px;
        margin-top: 20px;
    }

    .policy-list {
        list-style: disc;
        padding-left: 1.5rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .divider {
        border: none;
        border-top: 1px solid #ccc;
        margin: 10px 0;
    }

}

@media screen and (min-width : 768px) {

    .terms-container {
        padding: 20px;
        margin-top: 14vh;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #222;
        line-height: 1.6;
    }

    .terms-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .section-title {
        font-weight: bold;
        font-size: 18px;
        margin-top: 20px;
    }

    .policy-list {
        list-style: disc;
        padding-left: 1.5rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .divider {
        border: none;
        border-top: 1px solid #ccc;
        margin: 10px 0;
    }

}


@media screen and (min-width : 992px) {

    .terms-container {
        padding: 20px;
        margin-top: 14vh;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #222;
        line-height: 1.6;
    }

    .terms-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .section-title {
        font-weight: bold;
        font-size: 18px;
        margin-top: 20px;
    }

    .policy-list {
        list-style: disc;
        padding-left: 1.5rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .divider {
        border: none;
        border-top: 1px solid #ccc;
        margin: 10px 0;
    }

}

@media screen and (min-width : 1200px) {

  
    .terms-container {
        padding: 10px;
        margin-top: 5vh;
        max-width: 95%;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #222;
        line-height: 1.6;
        background-color: #993544;
    }

    .terms-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .section-title {
        font-weight: bold;
        font-size: 18px;
        margin-top: 20px;
    }

    .policy-list {
        list-style: disc;
        padding-left: 1.5rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .divider {
        border: none;
        border-top: 1px solid #ccc;
        margin: 10px 0;
    }

}