
.navTitle {
    @apply primary-paragraph
    color: var(--primary-color);
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .primary-heading {
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: var(--primary-heading-larg-screen-font-size);
    font-weight: var(--primary-heading-larg-screen-font-weight);
    line-height: var(--primary-heading-larg-screen-line-height);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}