/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  .course-container {
    padding: 10px 20px;
    padding-top: 5rem;
  }
  .titleBar {
    padding-bottom: 10px;
  }
  .mobile-topheading {
    padding-top: 15px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }

  .course-card {
    border-radius: 16px;
    overflow: hidden;
    padding: 16px;
  }

  .course-tag {
    font-weight: bold;
    color: #575757;
    margin-bottom: 8px;
    line-height: 125%;
    font-size: 14px;
    font-weight: 400;
  }

  .course-desc {
    color: #111111;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 20px;
  }
  .course-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    padding-bottom: 10px;
  }
  .bottom-button {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .transparent-button {
    display: flex;
    align-items: center;
    border: 1px solid #841d26;
    padding: 6px;
    border-radius: 30px;
    background-color: #ffffff;
    gap: 12px;
  }
  .transparent-button img {
    display: inline-block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-color: #841d26;
    object-fit: contain;
  }
  .ant-card-body {
    border: 1px solid #000000 25%;
    padding: 12px 0 !important;
  }
  .cover-image {
    border-radius: 8px;
  }
  .search-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px; */
/* cursor: pointer;
    margin-top: 10px;
  }
  .search-button-text {
    padding-right: 3rem;
    justify-content: center;
    display: flex;
  }
  .fourth-button.read {
    width: 100%;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .course-container {
    padding: 10px 20px;
    padding-top: 5rem;
  }
  .titleBar {
    padding-bottom: 10px;
  }
  .mobile-topheading {
    padding-top: 15px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }

  .course-card {
    border-radius: 16px;
    overflow: hidden;
    padding: 16px;
  }

  .course-tag {
    font-weight: bold;
    color: #575757;
    margin-bottom: 8px;
    line-height: 125%;
    font-size: 14px;
    font-weight: 400;
  }

  .course-desc {
    color: #111111;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 20px;
  }
  .course-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    padding-bottom: 10px;
  }
  .bottom-button {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .transparent-button {
    display: flex;
    align-items: center;
    border: 1px solid #841d26;
    padding: 6px;
    border-radius: 30px;
    background-color: #ffffff;
    gap: 12px;
  }
  .transparent-button img {
    display: inline-block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-color: #841d26;
    object-fit: contain;
  }
  .ant-card-body {
    border: 1px solid #000000 25%;
    padding: 12px 0 !important;
  }
  .cover-image {
    border-radius: 8px;
  }
  .search-button {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 12px; */
/* cursor: pointer;
    margin-top: 10px;
  }
  .search-button-text {
    padding-right: 3rem;
    justify-content: center;
    display: flex;
  }
  .fourth-button.read {
    width: 100%;
  }
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  .course-container {
    padding: 40px 70px;
  }

  .titleBar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); */
/* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
/* gap: 20px;
    column-gap: 15px;
    margin-top: 30px;
  }

  .course-card {
    border-radius: 16px;
    overflow: hidden;
    padding: 16px;
  }

  .course-tag { */
/* font-weight: bold;
    color: #575757;
    margin-bottom: 8px;
    line-height: 125%;
    font-size: 14px;
    font-weight: 400;
  }

  .course-desc {
    color: #111111;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 20px;
  }
  .course-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    padding-bottom: 10px;
  }
  .bottom-button {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .transparent-button {
    display: flex;
    border: 1px solid #841d26;
    padding: 10px;
    border-radius: 30px;
    background-color: #ffffff;
    align-items: center;
    gap: 12px;
  }
  .transparent-button img {
    display: inline-block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-color: #841d26;
    object-fit: contain;
  }
  .ant-card-body {
    border: 1px solid #000000 25%;
    padding: 12px 0 !important;
  }
  .cover-image {
    border-radius: 8px;
  }
  .search-button {
    display: flex;
    align-items: center;
    justify-content: space-between; /* space between text and arrow */
/* gap: 12px; */
/* cursor: pointer;
    margin-top: 20px;
  }
  .search-button-text {
    padding-right: 3rem;
    justify-content: center;
    display: flex;
  }
  .fourth-button.read {
    width: 100%;
  }
}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  .course-container {
    padding: 40px 70px;
  }

  .titleBar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
/* gap: 20px;
    column-gap: 32px;
    margin-top: 30px;
  }

  .course-card {
    border-radius: 16px;
    overflow: hidden;
    padding: 16px;
  }

  .course-tag {
    font-weight: bold;
    color: #575757;
    margin-bottom: 8px;
    line-height: 125%;
    font-size: 14px;
    font-weight: 400;
  }

  .course-desc {
    color: #111111;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 20px;
  }
  .course-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    padding-bottom: 10px;
  }
  .bottom-button {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .transparent-button {
    display: flex;
    align-items: center;
    border: 1px solid #841d26;
    padding: 10px;
    border-radius: 30px;
    gap: 12px;
    background-color: #ffffff;
  }
  .transparent-button img {
    display: inline-block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-color: #841d26;
    object-fit: contain;
  }
  .ant-card-body {
    border: 1px solid #000000 25%;
    padding: 12px 0 !important;
  }
  .cover-image {
    border-radius: 8px;
  }
  .search-button {
    display: flex;
    align-items: center;
    justify-content: space-between; /* space between text and arrow */
/* gap: 12px;  */
/* cursor: pointer;
    margin-top: 20px;
  }
  .search-button-text {
    padding-right: 3rem;
    justify-content: center;
    display: flex;
  }
  .fourth-button.read {
    width: 100%;
  } */
/* }  */

/* @media screen and (min-width :992px) { */
/* .course-container {
    padding: 40px 70px;
  }

  .titleBar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); */
/* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
/* gap: 20px;
    column-gap: 32px;
    margin-top: 30px;
  }

  .course-card {
    border-radius: 16px;
    overflow: hidden;
    padding: 16px;
  }

  .course-tag {
    font-weight: bold;
    color: #575757;
    margin-bottom: 8px;
    line-height: 125%;
    font-size: 14px;
    font-weight: 400;
  }

  .course-desc { */
/* color: #111111;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 20px; */
/* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
/* padding: 15px;
  }

  .course-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    padding-bottom: 10px;
  }

  .bottom-button {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .transparent-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #841d26;
    padding: 10px;
    border-radius: 30px;
    background-color: #ffffff;
    gap: 12px;
  }

  .ant-card-body {
    border: 1px solid #000000 25%;
    padding: 12px 0 !important;
  }

  .cover-image {
    border-radius: 8px;
  }

  .button-text {
    justify-content: center;
    text-align: center;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .search-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* space between text and arrow */
/* gap: 12px; */
/* optional spacing */
/* cursor: pointer;
    margin-top: 20px; */
/* }

  .search-button-text {
    padding-right: 6rem;
    justify-content: center;
    display: flex;
  }

  .transparent-button img {
    display: inline-block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-color: #841d26;
    object-fit: contain;
  }

  .fourth-button.read {
    width: 100%;
  }

  .heading {
    width: 50%;
  }

  .main-fee-deatils,
  .title-logo-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title-logo-main {
    align-items: start;
    padding: 10px;
  }

  .sub-amount-deatils {

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  .view-enquire-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

  }

  .black {
    color: black !important;
  }

  .course-desc {
    display: grid;
    gap: 20px;
  }

  .divider-enquire {
    border: 1px black;
  }

  .main-fee-deatils {
    width: 100%;
    gap: 35px;
    padding: 10px 0px;

  }
  .enquire-heading{
    font-weight: 600;
  }
  .view-enquire-button{
  

  } */

/* @media screen and (max-width :600px) {
    .main-fee-deatils {
      width: 90%;
      gap: 35px;
      padding: 10px 0px;
      background-color: red;

    }




  } */

/* } */
.slick-slide slick-active slick-current{
  padding: 0;
}


@media only screen and (max-width: 600px) {
  .title-logo-main {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between !important; */
  }
  .main-fee-deatils {
    display: flex;
    flex: 1;
  }
  .main-fee-deatils {
    width: 100%;
    gap: 44px;
    padding: 10px 0px;
  }
  .ant-card-body {
    border: 1px solid #000000 25%;
    padding: 0px 0;
    gap: 0;
  }
  .enquire-heading {
    margin-left: 14px;
    font-weight: 600;
    line-height: 125%;
    padding-bottom: 10px;
  }
  .course-title {
    font-size: 20px;
    font-weight: 600;
    margin-left: 12px;
  }
  .course-icon-image {
    width: 60px;
  }
  .view-enquire-button {
    display: flex;
  }
  .sub-amount-deatils {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .sub-amount-deatils > P {
    text-align: left;
  }
  .enquire-heading {
    margin-left: 0;
  }
}
@media only screen and (min-width: 600px) {
  .main-fee-deatils,
  .title-logo-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-card-body {
    border: 1px solid #000000 25%;
    padding: 0px 0;
    gap: 0;
  }
  .sub-amount-deatils {
    text-align: center;
  }
    .course-title {
    font-size: 20px;
    font-weight: 600;
    margin-left: 12px;
  }
  .title-logo-main {
    align-items: center;
    padding: 10px;
    gap: 12px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* gap: 20px; */
    column-gap: 32px;
    margin-top: 30px;
  }

  .enquire-heading {
    margin-left: 14px;
    font-weight: 600;
    line-height: 125%;
    padding-bottom: 10px;
  }
  .course-icon-image {
    width: 60px;
  }
  .main-fee-deatils {
    width: 100%;
    gap: 34px;
    padding: 10px 0px;
  }
  .view-enquire-button {
    display: flex;
  }
  .sub-amount-deatils {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .sub-amount-deatils > P {
    text-align: left;
  }
  .enquire-heading {
    margin-left: 0;
  }
}
.view-enquire-button {
  display: flex;
  justify-content: space-evenly;
}
.enq-button,
.view-more {
  width: 45%;
  display: flex;
  justify-content: center !important;
}

@media screen and (min-width :992px) {
   .main-fee-deatils,
  .title-logo-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-card-body {
    border: 1px solid #000000 25%;
    padding: 0px 0;
    gap: 0;
  }
  .sub-amount-deatils {
    text-align: center;
  }
  .title-logo-main {
    align-items: center;
    padding: 10px;
    gap: 12px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* gap: 20px; */
    column-gap: 32px;
    margin-top: 30px;
  }

  .enquire-heading {
    margin-left: 14px;
    font-weight: 600;
    line-height: 125%;
    padding-bottom: 10px;
  }
  .course-icon-image {
    width: 60px;
  }
  .main-fee-deatils {
    width: 100%;
    gap: 34px;
    padding: 10px 0px;
  }
  .view-enquire-button {
    display: flex;
  }
  .sub-amount-deatils {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .sub-amount-deatils > P {
    text-align: left;
  }
  .enquire-heading {
    margin-left: 0;
  }
}
.view-enquire-button {
  display: flex;
  justify-content: space-evenly;
}
.enq-button,
.view-more {
  width: 45%;
  display: flex;
  justify-content: center !important;

}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .main-fee-deatils,
  .title-logo-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-card-body {
    border: 1px solid #000000 25%;
    padding: 0px 0;
    gap: 0;
  }
  .sub-amount-deatils {
    text-align: center;
  }
  .title-logo-main {
    align-items: center;
    padding: 10px;
    gap: 12px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* gap: 20px; */
    column-gap: 32px;
    margin-top: 30px;
  }

  .enquire-heading {
    margin-left: 14px;
    font-weight: 600;
    line-height: 125%;
    padding-bottom: 10px;
  }
  .course-icon-image {
    width: 60px;
  }
  .main-fee-deatils {
    width: 100%;
    gap: 34px;
    padding: 10px 0px;
  }
  .view-enquire-button {
    display: flex;
  }
  .sub-amount-deatils {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .sub-amount-deatils > P {
    text-align: left;
  }
  .enquire-heading {
    margin-left: 0;
  }
}
.view-enquire-button {
  display: flex;
  justify-content: space-evenly;
}
.enq-button,
.view-more {
  width: 45%;
  display: flex;
  justify-content: center !important;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .course-container {
    padding: 40px 70px;
  }

  .titleBar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    column-gap: 32px;
    margin-top: 30px;
  }

  .course-card {
    border-radius: 16px;
    border: 1px solid #dbdbdb;
    overflow: hidden;
    padding: 16px;
  }

  .course-tag {
    font-weight: bold;
    color: #575757;
    margin-bottom: 8px;
    line-height: 125%;
    font-size: 14px;
    font-weight: 400;
  }

  .course-desc {
    padding: 15px;
  }

  .course-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    padding-bottom: 10px;
  }

  .enquire-heading {
    font-weight: 600;
    font-size: 14px;
  }

  .ant-card-body {
    border: 1px solid #000000 25%;
    padding: 0px 0 !important;
    gap: 0;
  }

  .heading {
    width: 50%;
  }

  .main-fee-deatils,
  .title-logo-main {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }
  .main-fee-deatils{
    justify-content: space-around;
  }

  .title-logo-main {
    align-items: center;
    padding: 10px;
    gap: 12px;
  }

  .sub-amount-deatils {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  .view-enquire-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .black {
    color: black !important;
  }

  .course-desc {
    font-size: 14px;
    display: grid;
    gap: 20px;
  }

  .main-fee-deatils {
    width: 100%;
    gap: 4px;
    padding: 10px 0px;
  }

  .view-more {
    margin: 0% !important;
    width: 45% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
  }

  .view-enquire-button {
    padding: 10px 0px;
    margin-top: 8px;
  }
  .course-icon-image {
    width: 60px;
  }
}
