
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap");

:root {
  --primary-font-family: "Montserrat", sans-serif;
  --primary-color: #841D2E;
  --secondary-color: #000000;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.arrow-style {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #841d2e;
  align-items: center;
  justify-content: center;
  /* padding: 3px; */
  gap: 10px;
  margin-left: 12px;
}

.secondary-paragraph {
  font-size: var(--secondary-paragraph-xs-font-size);
  font-weight: var(--secondary-paragraph-xs-font-weight);
  line-height: var(--primary-paragraph-line-height);
  color: var(--primary-paragraph-font-color);
  font-family: var(--primary-font-family);
}

.bold-heading {
  font-weight: var(---primary-bold-heading-xl-font-weight);
  color: var(--primary-paragraph-font-color);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .button-styles {
    font-size: var(--button-xs-font-size);
    border-color: var(--button-xl-border-bg-color);
    border-radius: var(--button-xs-border-radius);
    background-color: var(--button-xl-bg-color);
    font-weight: var(--button-xs-font-weight);

    padding: var(--button-xs-vertical-padding) var(--button-xs-horizontal-padding);
  }

  .primary-heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 125%;
    padding: 10px 16px;
  }
  .primary-heading {
    font-weight: var(--primary-heading-xs-font-weight);
    font-size: var(--primary-heading-xs-font-size);
    line-height: var(--primary-heading-xs-line-height);
    color: var(--primary-heading-font-color);
    font-family: var(--primary-font-family);
  }
  .sub-heading {
    font-size: var(--sub-heading-xs-font-size);
    font-weight: var(--sub-heading-xs-font-weight);
    line-height: var(--sub-heading-xs-line-height);
    color: var(--sub-heading-font-color);
  }
  .secondary-paragraph {
    font-size: var(--secondary-paragraph-xs-font-size);
    font-weight: var(--secondary-paragraph-xs-font-weight);
    line-height: var(--secondary-paragraph-xl-line-height);
    color: var(--primary-paragraph-font-color);
    font-family: var(--primary-font-family);
  }
  .secondary-button {
    width: var(--secondary-button-sm-width);
    height: var(--secondary-button-sm-height);
    background-color: var(--secondary-button-xl-bg-color);
    color: var(--secondary-button-xl-color);
    padding: var(--secondary-button-sm-horizontal-padding)
      var(--secondary-button-sm-vertical-padding);
    font-size: var(--secondary-button-sm-font-size);
    font-weight: var(--secondary-button-sm-font-weight);
    border: var(--secondary-button-sm-border);
    gap: var(--secondary-button-sm-gap);
    border-radius: var(--secondary-button-sm-border-radius);
  }
  .fourth-button {
    background-color: var(--fourth-button-xs-bg-color);
    gap: var(--fourth-button-xs-gap);
    border: var(--fourth-button-xs-border);
    border-radius: var(--fourth-button-xs-border-radius);
    padding: var(--fourth-button-sm-padding);
    font-size: var(--fourth-button-xs-font-size);
    color: var(--fourth-button-color);
  }
  .tertiary-button {
    background-color: var(--tertiary-button-xs-bg-color);
    gap: var(--tertiary-button-xs-gap);
    border: var(--tertiary-button-xs-border);
    border-radius: var(--tertiary-button-xs-border-radius);
    padding: var(--tertiary-button-xs-padding);
    font-size: var(--tertiary-button-xs-font-size);
    color: var(--tertiary-button-color);
    width: var(--tertiary-button-xs-width);
    height: var(--tertiary-button-xs-height);
    font-weight: var(--tertiary-button-xs-font-weight);
    line-height: var(--tertiary-button-xs-line-height);
  }
  .search-button {
    border: var(--search-button-xs-border);
    border-radius: var(--search-button-xs-border-radius);
    font-size: var(--search-button-xs-font-size);
    font-weight: var(--search-button-xs-font-weight);
    color: var(--search-button-xs-font-color);
    line-height: var(--search-button-xs-line-height);
    background-color: var(--search-button-bg-color);
    justify-content: space-between;
    padding: var(--search-button-xs-padding);
  }
}

/* Small devices (portrait tablets and xl phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .primary-heading {
    font-weight: var(--primary-heading-sm-font-weight);
    font-size: var(--primary-heading-sm-font-size);
    line-height: var(--primary-heading-sm-line-height);

    color: var(--primary-heading-font-color);
    font-family: var(--primary-font-family);
  }
  .secondary-button {
    width: var(--secondary-button-xs-width);
    height: var(--secondary-button-xs-height);
    background-color: var(--secondary-button-xl-bg-color);
    color: var(--secondary-button-xl-color);
    padding: var(--secondary-button-xs-horizontal-padding)
      var(--secondary-button-xs-vertical-padding);
    font-size: var(--secondary-button-xs-font-size);
    font-weight: var(--secondary-button-xs-font-weight);
    border: var(--secondary-button-xs-border);
    gap: var(--secondary-button-xs-gap);
    border-radius: var(--secondary-button-xs-border-radius);
  }

  .sub-heading {
    font-size: var(--sub-heading-xs-font-size);
    font-weight: var(--sub-heading-xs-font-weight);
    line-height: var(--sub-heading-xs-line-height);
    color: var(--sub-heading-font-color);
  }

  .secondary-paragraph {
    font-size: var(--secondary-paragraph-xs-font-size);
    font-weight: var(--secondary-paragraph-xs-font-weight);

    line-height: var(--primary-paragraph-line-height);
    color: var(--primary-paragraph-font-color);
    font-family: var(--primary-font-family);
  }
}

/* Small devices (portrait tablets and xl phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .primary-heading {
    font-weight: var(--primary-heading-sm-font-weight);
    font-size: var(--primary-heading-sm-font-size);
    line-height: var(--primary-heading-sm-line-height);
    color: var(--primary-heading-font-color);

    line-height: var(--secondary-paragraph-xl-line-height);
    color: var(--primary-paragraph-font-color);
    font-family: var(--primary-font-family);
  }
  .fourth-button {
    background-color: var(--fourth-button-xs-bg-color);
    gap: var(--fourth-button-xs-gap);
    border: var(--fourth-button-xs-border);
    border-radius: var(--fourth-button-xs-border-radius);
    padding: var(--fourth-button-md-padding);
    font-size: var(--fourth-button-xs-font-size);
    color: var(--fourth-button-color);
    /* width: var(--fourth-button-xs-width);
    height: var(--fourth-button-xs-height); */
  }
  .tertiary-button {
    background-color: var(--tertiary-button-xs-bg-color);
    gap: var(--tertiary-button-xs-gap);
    border: var(--tertiary-button-xs-border);
    border-radius: var(--tertiary-button-xs-border-radius);
    padding: var(--tertiary-button-xs-padding);
    font-size: var(--tertiary-button-xs-font-size);
    color: var(--tertiary-button-color);
    width: var(--tertiary-button-xs-width);
    height: var(--tertiary-button-xs-height);
    font-weight: var(--tertiary-button-xs-font-weight);
    line-height: var(--tertiary-button-xs-line-height);
  }
  .search-button {
    border: var(--search-button-xs-border);
    border-radius: var(--search-button-xs-border-radius);
    font-size: var(--search-button-xs-font-size);
    font-weight: var(--search-button-xs-font-weight);
    color: var(--search-button-xs-font-color);
    line-height: var(--search-button-xs-line-height);
    background-color: var(--search-button-bg-color);
    justify-content: space-between;
    padding: var(--search-button-sm-padding);

  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .primary-heading {
    font-weight: var(--primary-heading-md-font-weight);
    font-size: var(--primary-heading-md-font-size);
    line-height: var(--primary-heading-md-line-height);
    color: var(--primary-heading-font-color);

  }
   .button-styles {
    font-size: var(--button-xs-font-size);
    border-color: var(--button-xs-border-bg-color);
    border-radius: var(--button-xs-border-radius);
    font-weight: var(--button-xs-font-weight);
    padding: var(--button-xs-vertical-padding) var(--button-xs-horizontal-padding);
  }
  
   

  .secondary-button {
    width: var(--secondary-button-md-width);
    height: var(--secondary-button-md-height);
    background-color: var(--secondary-button-xl-bg-color);
    color: var(--secondary-button-xl-color);
    padding: var(--secondary-button-md-horizontal-padding)
      var(--secondary-button-md-vertical-padding);
    font-size: var(--secondary-button-md-font-size);
    font-weight: var(--secondary-button-md-font-weight);
    border: var(--secondary-button-md-border);
    gap: var(--secondary-button-md-gap);
    border-radius: var(--secondary-button-md-border-radius);
  }
  .secondary-paragraph {
    font-size: var(--secondary-paragraph-xl-font-size);
    font-weight: var(--secondary-paragraph-xl-font-weight);
    line-height: var(--secondary-paragraph-xl-line-height);
    color: var(--primary-paragraph-font-color);
    font-family: var(--primary-font-family);
  }
  .fourth-button {
    background-color: var(--fourth-button-xl-bg-color);
    gap: var(--fourth-button-xl-gap);
    border: var(--fourth-button-xl-border);
    border-radius: var(--fourth-button-xl-border-radius);
    padding: var(--fourth-button-md-padding);
    font-size: var(--fourth-button-xl-font-size);
    color: var(--fourth-button-color);
    /* width: var(--fourth-button-xl-width);
    height: var(--fourth-button-xl-height); */
  }
  .tertiary-button {
    background-color: var(--tertiary-button-xl-bg-color);
    gap: var(--tertiary-button-xl-gap);
    border: var(--tertiary-button-xl-border);
    border-radius: var(--tertiary-button-xl-border-radius);
    padding: var(--tertiary-button-xl-padding);
    font-size: var(--tertiary-button-xl-font-size);
    color: var(--tertiary-button-color);
    width: var(--tertiary-button-xl-width);
    height: var(--tertiary-button-xl-height);
    font-weight: var(--tertiary-button-xl-font-weight);
    line-height: var(--tertiary-button-xl-line-height);
  }
  .search-button {
    border: var(--search-button-xl-border);
    border-radius: var(--search-button-xl-border-radius);
    font-size: var(--search-button-xl-font-size);
    font-weight: var(--search-button-xl-font-weight);
    color: var(--search-button-xl-font-color);
    line-height: var(--search-button-xl-line-height);
    background-color: var(--search-button-bg-color);
    /* width: var(--search-button-width);
    height: var(--search-button-height); */
    justify-content: space-between;
    padding: var(--search-button-md-padding);
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .primary-heading {
    font-weight: var(--primary-heading-lg-font-weight);
    font-size: var(--primary-heading-lg-font-size);
    line-height: var(--primary-heading-lg-line-height);
    color: var(--primary-heading-font-color);

  }
}

/* Extra xl devices (xl laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .button-styles {
    font-size: var(--button-xl-font-size);
    border-color: var(--button-xl-border-bg-color);
    border-radius: var(--button-xl-border-radius);
    background-color: var(--button-xl-bg-color);
    font-weight: var(--button-xl-font-weight);
    padding: var(--button-xl-vertical-padding) var(--button-xl-horizontal-padding);
  }


  
  .secondary-button {
    width: var(--secondary-button-lg-width);
    height: var(--secondary-button-lg-height);
    background-color: var(--secondary-button-xl-bg-color);
    color: var(--secondary-button-xl-color);
    padding: var(--secondary-button-lg-horizontal-padding)
      var(--secondary-button-lg-vertical-padding);
    font-size: var(--secondary-button-lg-font-size);
    font-weight: var(--secondary-button-lg-font-weight);
    border: var(--secondary-button-lg-border);
    gap: var(--secondary-button-lg-gap);
    border-radius: var(--secondary-button-lg-border-radius);
  }
  .secondary-paragraph {
    font-size: var(--secondary-paragraph-xl-font-size);
    font-weight: var(--secondary-paragraph-xl-font-weight);
    line-height: var(--secondary-paragraph-xl-line-height);
    color: var(--primary-paragraph-font-color);
    font-family: var(--primary-font-family);
  }
  .fourth-button {
    background-color: var(--fourth-button-xl-bg-color);
    gap: var(--fourth-button-xl-gap);
    border: var(--fourth-button-xl-border);
    border-radius: var(--fourth-button-xl-border-radius);
    padding: var(--fourth-button-lg-padding);
    font-size: var(--fourth-button-xl-font-size);
    color: var(--fourth-button-color);
    /* width: var(--fourth-button-xl-width);
    height: var(--fourth-button-xl-height); */
  }
  .tertiary-button {
    background-color: var(--tertiary-button-xl-bg-color);
    gap: var(--tertiary-button-xl-gap);
    border: var(--tertiary-button-xl-border);
    border-radius: var(--tertiary-button-xl-border-radius);
    padding: var(--tertiary-button-xl-padding);
    font-size: var(--tertiary-button-xl-font-size);
    color: var(--tertiary-button-color);
    width: var(--tertiary-button-xl-width);
    height: var(--tertiary-button-xl-height);
    font-weight: var(--tertiary-button-xl-font-weight);
    line-height: var(--tertiary-button-xl-line-height);
  }
  .search-button {
    border: var(--search-button-xl-border);
    border-radius: var(--search-button-xl-border-radius);
    font-size: var(--search-button-xl-font-size);
    font-weight: var(--search-button-xl-font-weight);
    color: var(--search-button-xl-font-color);
    line-height: var(--search-button-xl-line-height);
    background-color: var(--search-button-bg-color);
    /* width: var(--search-button-width);
    height: var(--search-button-height); */
    justify-content: space-between;
    padding: var(--search-button-lg-padding);
  }
}

/* Extra xl devices (xl laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .sub-heading {
    font-size: var(--sub-heading-xl-font-size);
    font-weight: var(--sub-heading-xl-font-weight);
    line-height: var(--sub-heading-xl-line-height);
    color: var(--sub-heading-font-color);
    font-family: var(--primary-font-family);

  }

  .primary-heading {
    font-weight: var(--primary-heading-xl-font-weight);
    font-size: var(--primary-heading-xl-font-size);
    line-height: var(--primary-heading-xl-line-height);
    color: var(--primary-heading-font-color);
    font-family: var(--primary-font-family);

  }


  .secondary-paragraph {
    font-size: var(--secondary-paragraph-xl-font-size);
    font-weight: var(--secondary-paragraph-xl-font-weight);
    line-height: var(--primary-paragraph-line-height);
    color: var(--primary-paragraph-font-color);
    font-family: var(--primary-font-family);
  }

  .primary-heading {
    font-weight: var(--primary-heading-xl-font-weight);
    font-size: var(--primary-heading-xl-font-size);
    line-height: var(--primary-heading-xl-line-height);
    color: var(--primary-heading-font-color);
    font-family: var(--primary-font-family);
  }
  .secondary-paragraph {
    font-size: var(--secondary-paragraph-xl-font-size);
    font-weight: var(--secondary-paragraph-xl-font-weight);
    line-height: var(--secondary-paragraph-xl-line-height);
    color: var(--primary-paragraph-font-color);
    font-family: var(--primary-font-family);
  }
  .secondary-button {
    width: var(--secondary-button-xl-width);
    height: var(--secondary-button-xl-height);
    background-color: var(--secondary-button-xl-bg-color);
    color: var(--secondary-button-xl-color);
    padding: var(--secondary-button-xl-horizontal-padding)
      var(--secondary-button-xl-vertical-padding);
    font-size: var(--secondary-button-xl-font-size);
    font-weight: var(--secondary-button-xl-font-weight);
    border: var(--secondary-button-xl-border);
    gap: var(--secondary-button-xl-gap);
    border-radius: var(--secondary-button-xl-border-radius);
  }
  .fourth-button {
    background-color: var(--fourth-button-xl-bg-color);
    gap: var(--fourth-button-xl-gap);
    border: var(--fourth-button-xl-border);
    border-radius: var(--fourth-button-xl-border-radius);
    padding: var(--fourth-button-xl-padding);
    font-size: var(--fourth-button-xl-font-size);
    color: var(--fourth-button-color);
    width: var(--fourth-button-xl-width);
    height: var(--fourth-button-xl-height);
  }
  .tertiary-button {
    background-color: var(--tertiary-button-xl-bg-color);
    gap: var(--tertiary-button-xl-gap);
    border: var(--tertiary-button-xl-border);
    border-radius: var(--tertiary-button-xl-border-radius);
    padding: var(--tertiary-button-xl-padding);
    font-size: var(--tertiary-button-xl-font-size);
    color: var(--tertiary-button-color);
    width: var(--tertiary-button-xl-width);
    height: var(--tertiary-button-xl-height);
    font-weight: var(--tertiary-button-xl-font-weight);
    line-height: var(--tertiary-button-xl-line-height);
  }
  .search-button {
    border: var(--search-button-xl-border);
    border-radius: var(--search-button-xl-border-radius);
    font-size: var(--search-button-xl-font-size);
    font-weight: var(--search-button-xl-font-weight);
    color: var(--search-button-xl-font-color);
    line-height: var(--search-button-xl-line-height);
    background-color: var(--search-button-bg-color);
    /* width: var(--search-button-width);
    height: var(--search-button-height); */
    justify-content: space-between;
    padding: var(--search-button-xl-padding);
  }
}

